/*
* Ramundboende.se
* Marike Grinde
*/

/* Typography
================================================== */
body{
	font-family:Helvetica;
}

/* Navigation
================================================== */

nav{
	font-weight: bold;
}
nav ul{
	float:right;
	display: inline-block;
}
nav li{
	float: left;	
}

.not_last{
	margin-right: 20px;
}

nav li a, a:visited {
	height: 30px;
	padding-top:10px;
	text-decoration:none;
	color: #000000;
	display: block;
	text-align: center;
}

nav li a:hover {
	  background:#FFFFFF;
 	  filter: alpha(opacity=60);
 	  opacity: 0.6;
}

nav a.active{
}

/* Content
================================================== */

#content{
	margin-top: 50px;
}

/* Footer
================================================== */
footer{
	border-top-style:solid;
	border-top-color:#DDDDDD;
	border-top-width: thin;
}

#footer_content{
	margin-top:10px;
}

#footer_address{
	float:right;
	text-align: right;
}

#footer_address p{
	margin-top:0px;
}

/* Contact Form
================================================== */
#contactform{
	float: right;
	text-align:right;
}
legend{
	font-weight:bold;
	font-size:16px;
	padding-bottom:5px;
}
